# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
.turbo/

# env & secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.local
coverage/
